<main id="home">
  <section class="hero-parallax relative text-white flex items-center  " style="background:#eafaea">
    <div class="overlay absolute inset-0"></div>

    <div class="container mx-auto relative px-4  flex flex-col items-center   max-w-2xl mt-8 py-64">
      <h1 class="text-4xl sm:text-3xl font-bold  sm:pt-24">
        Customized <span class="text-black">Mini Javascript </span>  Route Engine
      </h1>
      <p class="text-muted text-white ">
        Vite Vanilla JS Starter
      </p>
      <a   data-action="sayHello" data-message="Good Morning my Neighbours!!"  style="z-index:99; padding:10px" href="https://github.com/saladinjake/VanillajsOnViteSteriods" class="btn btn-primary" >See Repository</a>
    </div>
  </section>
</main>

<script type="module"></script>