

  <main id="home">
    <div class="flex items-center justify-center bg-gray-100 py-64 container mx-auto">
      <div class="max-w-sm w-full md:w-1/2 bg-white shadow-lg p-6 rounded-xl">
        <h2 class="text-xl font-semibold mb-4">Log in to your account</h2>

        <form id="login-form" class="space-y-4 p-6">
          <input type="email" name="email" placeholder="Email" required class="input w-full mb-3 p-3" />
          <input type="password" name="password" placeholder="Password" required class="input w-full mb-3  p-3" />

          <button type="submit" class="btn btn-primary w-full">Log In</button>
          <a href="./#forgot_password" class="text-sm text-blue-500 block text-center mt-2">Forgot password?</a>
        </form>

        <p class="text-sm mt-4 text-center">
          Don’t have an account?
          <a href="./#signup" class="text-blue-500">Sign up</a>
        </p>
      </div>
    </div>
  </main>

